.link-auth {
  color: rgba(0, 0, 0, .55);
  font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 27px;
  max-width: 350px;
  text-align: left;
  word-break: keep-all;
  text-decoration: none;
}