footer {
    height: 50px;
    background: white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
}